<nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">HOME</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ng-container *ngIf="(authenticated$ | async) && (user$ | async)" >
<!-- 
    <ul class="navbar-nav px-3">
      <li class="nav-item text-light">
        <span >{{usuario}} &nbsp; | &nbsp; <a style=" cursor: pointer;" (click)="logout()">Sair</a> </span>
      </li>
    </ul> -->
 
    <ul class="nav nav-pills mr-2" >
      <li class="nav-item dropdown ml-auto ">

        <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
          <img width="30" height="24" class="rounded-circle mr-1" src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"> {{usuario.NOME}}</a>
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="#">
        </a> -->
        <div class="dropdown-menu dropdown-menu-right">

           
            <a  style=" cursor: pointer;" class="dropdown-item" (click)="logout()">Sair</a>
        </div>
    </li>
    </ul> 
    

  </ng-container>

</nav>